<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">{{ title }}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="tareas" routerLinkActive="active" class="btn">Tareas</a></li>
        <li><a routerLink="agregar/nueva" routerLinkActive="active" class="btn">Agregar</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>